*{
  margin: 0;
  padding: 0;
}

body, #slider, .wrap, .slide-content{
  font-family: serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
/*fixed navigation*/
.navigation{
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.navigation ul{
  padding: 0;
  margin: 0;
}

.navigation li{
  display: inline;
  float: left;
}

.navigation a{
  font-size: 30px;
  display: inline-block;
  width: 250px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 40px 0;
  color: white;
  transition: 5s;
  font-family: 'Kaufmann BT';
  letter-spacing: 0.1em;
}

.navigation a:hover{
  color: rgb(0, 0, 0);
}

/* bus */

#mainPage{
  background-color: #5e5d5d;
  width: 1400px;
}
#bus{
  margin-left: auto;
  margin-right: auto;

}
#driver_dock{
  height: 300px;

}
#passangers_area{

}
.col1,.col3{
  display: inline;
  float: left;
  height: inherit;
  
}
.col2{
 width: 200px;
 display: inline;
 float: left;
 height: inherit;
}
.seat_row{
width: 400px;
}
.seat{
  display: inline;
  background-color: gray;
  border: 1px solid black;
  font-family: sans-serif;
  font-size: 2.2em;
  float: left;
  text-align: center;
  line-height: 96px;
  width: 196px;
  height: 96px;
}
.seat_row:hover{
  background-color: black;
  color: white;
}































p{
  margin: 20px 0;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.7);
  line-height: 2em;

}

button{
  outline: none;
  border: none;
  margin: 18px 0;
  padding: 20px 40px;
  background: #ffd152;
  font-family: sans-serif;
  color: #282627;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
}

.wrap{
  position: relative;
}

.slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  animation: image 10s ease-in-out 2s infinite;
  -webkit-animation: image 10s ease-in-out 2s infinite;
}

.slide1{
  background-image: url(bus5.jpg);
  animation: image 10s ease-in 2s infinite;
  -webkit-animation: image 10s ease-in 2s infinite;
}

.slide2{
  background-image: url(bus4.jpg);
  animation: image 10s ease-in 2s infinite;
  -webkit-animation: image 10s ease-in 2s infinite;
}

.slide3{
  background-image: url(bus3.jpg);
  animation: image 10s ease-in 2s infinite;
  -webkit-animation: image 10s ease-in 2s infinite;
}

.slide-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Kaufmann BT';
}

.slide-content h1{
  font-size: 5rem;
  color: #fff;
  letter-spacing: 0.2em;
}

.slide-content span{
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.1em;
}

.arrow{
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left{
  border-width: 30px 40px 30px 0;
  border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-left:hover{
  border-color: transparent rgba(255, 255, 255, 0.9) transparent transparent;
}

#arrow-right{
  border-width: 30px 0px 30px 40px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.2);
  right: 0;
  margin-right: 30px;
}

#arrow-right:hover{
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
}



.container{
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
  /*margin-top: 34vh;*/
}

.img{
  margin: 20px 0;
  width: 100%;
}

.hd{
  font-family: 'Kaufmann BT';
  font-size: 50px;
  color: white;
}

#project{
  background: #5e5d5d;
  padding: 6rem 0;
}

.project-content{
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

#about{
  background-color: rgb(128,128,128);
  padding: 8rem 0;
}

/*farechart*/
#about1{
  background-color: rgb(128,128,128);
  padding: 8rem 0;
    height: 400px;
}

/*collect*/
#about2{
  background-color: rgb(128,128,128);
  padding: 8rem 0;
    height: 420px;
}

.about-content{
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

#submit{
  background-color: #5e5d5d;
  padding: 8rem 0;
}

#submit input{
  width: 80%;
  margin: 2em 0;
  background: none;
  border: 1px solid black;
  padding: 20px;
  font-family: sans-serif;
  font-weight: 400;
  color: rgb(211, 165, 100);
  font-size: 1.2em;
}

#subscribe input:focus{
  border: none;
  outline: none;
  border: 2px solid #8d8273;
}


input::placeholder{
  color: rgb(0, 0, 0, 0.6);
  /*text-transform: uppercase;*/
  font-weight: 400;
  font-size: 1.2em;
}

/*footer*/

footer{
  font-size: 30px;
  font-family: 'Kaufmann BT';
  width: 100%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
  background: #282627;
}

footer span{
  color: #8d8273;
  font-weight: 600;
}

footer ul{
  padding: 0;
  margin: 0;
}

footer li{
  display: inline;
  float: right;
}

footer a{
  display: inline-block;
  width: 100px;
  font-weight: 400;
  text-decoration: none;
  padding: 0px 0px 10px 0px;
  color: rgb(211, 165, 100);
  transition: 1s;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.column1 {
  float: right;
  width: 33.33%;
  padding: 5px;
}
.column2 {
  float: right;
  width: 15.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes image {
  0%{
    background-image: url(bus5.jpg);
  }
  33%{
    background-image: url(bus4.jpg);
  }
  67%{
    background-image: url(bus3.jpg);
  }
}
/* 
-webkit-keyframes image{
  0%{
    background-image: url(bus5.jpg);
  }
  33%{
    background-image: url(bus4.jpg);
  }
  67%{
    background-image: url(bus3.jpg);
  }
} */
